.list-table th{
	text-align: center;
}
.body{
	font-family: 'Kaushan Script', cursive;
	sans-serif;
	word-wrap: break-word;
}
.heading{
	background-color: black;
	height: 10em;
	display: flex;
	align-items: flex-end;
}
.header-image{
	background-color: black;
	margin: 0 auto;
	height: 10em
}
.header-text{
	color: white;
	font-family: 'Kaushan Script', cursive;
	font-size: 3.5em;
}
#myInput {
	margin-top: 2em;
	width: 60%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-position: 10px 12px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width .4s ease-in-out;
	transition: width .4s ease-in-out;
}
#myInput:focus {
    width: 80%;
}
@media (min-width:380px and max-width:480px){
	.header-text{
		color: white;
		font-family: 'Kaushan Script', cursive;
		font-size: 3em;
	}
	.heading{
		height: 8em;
	}
	.header-image{
		background-color: black;
		margin: 0 auto;
		height: 7em
	}
}
@media (max-width:380px){
	.header-text{
		color: white;
		font-family: 'Kaushan Script', cursive;
		font-size: 3em;
	}
	.heading{
		height: 8em;
	}
	.header-image{
		background-color: black;
		margin: 0 auto;
		height: 6em
	}
}
.table-bordered>tbody>tr>td, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>td, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>thead>tr>th{
	font-family: 'Lato',sans-serif;
}
#table-wrap{
	margin-top: 2em;
}
#top-1{
	color:#fff;
	background-color:#337ab7
}
#top-1:focus,
#top-1:hover
{background-color:#286090}
#top-2{
	background-color:#dff0d8
}
#top-2:focus, 
#top-2:hover{
	background-color:#c1e2b3
}
#top-3{
	background-color:#fcf8e3
}
#top-3:focus, 
#top-3:hover{
	background-color:#f7ecb5
}
.footer{
	color: #737780;
	padding: 1em;
	margin: 1em;
}
.footer a{
	color: #737780;
}
@media only screen and (min-width : 68.75em) {
	.header-text{
		color: white;
	}
	.heading{
		height: 13em;
	}
	.header-image{
		height: 12em
	}
}
@media only screen and (max-width : 68.75em) and (min-width : 56.25em) {
	.header-text{
		font-size: 1.7em;
	}
	.heading{
		height: 9em;
	}
	.header-image{
		height: 9em
	}
}
@media only screen and (max-width : 56.25em) {
	.header-text{
		font-size: 1.7em;
	}
	.heading{
		height: 8em;
	}
	.header-image{
		height: 8em
	}
}